.my-footer{
    background-color: #212529;
    margin-top: 1.5em;
    height: 3em;
    color: white;
    padding: 1em;
    font-size: 80%;
}

.room-div{
    margin-top: 1.5em;
}

.room-img{
    max-width: 70%;
}

.datepicker {
    z-index: 10000;
}
