{{template "base" .}}

{{define "content"}}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Booking</h1>
        <p>Some minor description</p>
        <img src="/static/images/home.png" height="800" width="600">

      </div>
    </div>
  </div>
{{end}}
